table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th{
  font-weight: bold;
}

tr:hover {background-color:#f5f5f5;}