/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* prevent adjustments of font size after orientation is change in IE on windows phone and IOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box size model to all elements of the DOM. */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.head {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0;
  line-height: 3rem;
}

.subHead {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 1rem 0;
  line-height: 2.5rem;
}

.btn {
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 4rem;
  background-color: #54baa4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  max-width: 18rem;
  transition: background 0.75s ease, color 0.75s ease;
}

.btnTransparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  font-weight: 700;
  min-width: 15rem;
  max-width: 18rem;
  border-radius: 4rem;
  border: 2px solid #54baa4;
  color: #54baa4;
  transition: background 0.75s ease, color 0.75s ease;
}

.btn:hover {
  background-color: #3a7f70;
}

.btnTransparent:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.f {
  display: -webkit-flex !important;
  display: flex !important;
}

.f1 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 1;
}

.f2 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 2;
}

.f3 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 3;
}

.f4 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 4;
}

.f5 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 5;
}

.f6 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 6;
}

.f7 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 7;
}

.f8 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 8;
}

.f9 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 9;
}

.f10 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 10;
}

.f11 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 11;
}

.f12 {
  display: -webkit-flex !important;
  display: flex !important;
  flex: 12;
}

.fdr {
  flex-direction: row !important;
}

.fdrv {
  flex-direction: row-reverse !important;
}

.fdc {
  flex-direction: column !important;
}

.fdcv {
  flex-direction: column-reverse !important;
}

.ffrw {
  flex-flow: row wrap !important;
}

.ffrwv {
  flex-flow: row wrap-reverse !important;
}

.ffrvw {
  flex-flow: row-reverse wrap !important;
}

.ffrvwv {
  flex-flow: row-reverse wrap-reverse !important;
}

.ffcw {
  flex-flow: column wrap !important;
}

.ffcwv {
  flex-flow: column wrap-reverse !important;
}

.ffcvw {
  flex-flow: column-reverse wrap !important;
}

.ffcvwv {
  flex-flow: column-reverse wrap-reverse !important;
}

.center {
  justify-content: center;
  align-items: center;
}

.jCenter {
  justify-content: center;
}

.jSpace {
  justify-content: space-between;
}

.jSpaceAround {
  justify-content: space-around;
}

.jEnd {
  justify-content: flex-end;
}

.aCenter {
  align-items: center;
}

.asCenter {
  align-self: center;
}

.w10 {
  width: 10% !important;
}

.w20 {
  width: 20% !important;
}

.w30 {
  width: 30% !important;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}

.w70 {
  width: 70% !important;
}

.w80 {
  width: 80% !important;
}

.w90 {
  width: 90% !important;
}

.w100 {
  width: 100% !important;
}

.h10 {
  height: 10% !important;
}

.h20 {
  height: 20% !important;
}

.h30 {
  height: 30% !important;
}

.h40 {
  height: 40% !important;
}

.h50 {
  height: 50% !important;
}

.h60 {
  height: 60% !important;
}

.h70 {
  height: 70% !important;
}

.h80 {
  height: 80% !important;
}

.h90 {
  height: 90% !important;
}

.h100 {
  height: 100% !important;
}

.m2 {
  margin: 2px !important;
}

.m4 {
  margin: 4px !important;
}

.m6 {
  margin: 6px !important;
}

.m8 {
  margin: 8px !important;
}

.m10 {
  margin: 10px !important;
}

.m12 {
  margin: 12px !important;
}

.m14 {
  margin: 14px !important;
}

.m16 {
  margin: 16px !important;
}

.m18 {
  margin: 18px !important;
}

.m20 {
  margin: 20px !important;
}

.m22 {
  margin: 22px !important;
}

.m24 {
  margin: 24px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.ml14 {
  margin-left: 14px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.ml18 {
  margin-left: 18px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml22 {
  margin-left: 22px !important;
}

.ml24 {
  margin-left: 24px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr6 {
  margin-right: 6px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr14 {
  margin-right: 14px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mr18 {
  margin-right: 18px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr22 {
  margin-right: 22px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt18 {
  margin-top: 18px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt22 {
  margin-top: 22px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb14 {
  margin-bottom: 14px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb22 {
  margin-bottom: 22px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.p2 {
  padding: 2px !important;
}

.p4 {
  padding: 4px !important;
}

.p6 {
  padding: 6px !important;
}

.p8 {
  padding: 8px !important;
}

.p10 {
  padding: 10px !important;
}

.p12 {
  padding: 12px !important;
}

.p14 {
  padding: 14px !important;
}

.p16 {
  padding: 16px !important;
}

.p18 {
  padding: 18px !important;
}

.p20 {
  padding: 20px !important;
}

.p22 {
  padding: 22px !important;
}

.p24 {
  padding: 24px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.pl6 {
  padding-left: 6px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.pl14 {
  padding-left: 14px !important;
}

.pl16 {
  padding-left: 16px !important;
}

.pl18 {
  padding-left: 18px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl22 {
  padding-left: 22px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pr14 {
  padding-right: 14px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pr18 {
  padding-right: 18px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr22 {
  padding-right: 22px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pt14 {
  padding-top: 14px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pt18 {
  padding-top: 18px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt22 {
  padding-top: 22px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pb14 {
  padding-bottom: 14px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.pb18 {
  padding-bottom: 18px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb22 {
  padding-bottom: 22px !important;
}

.pb24 {
  padding-bottom: 24px !important;
}

.bgWhite {
  background-color: #FFF;
}

.fcWhite {
  color: #FFF;
}

.fcBlack {
  color: #000;
}

.fcRed {
  color: #F00;
}

.fcBrown {
  color: #a52a2a;
}